@*
    This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
       This is where you can add, modify, or remove navigation options in your app
       TODO: This preserves the links as-is for the demo, which lead to broken pages!
       It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Content/AdminLTE/img/avatar5.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>@User.Identity.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header" style="font-weight: bold; color: rgb(255, 255, 255); font-size: medium;">@Resources.Resource.MainNavigation</li>
            <li id="liHome" class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i><span>@Resources.Resource.Home</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Home/Index"><i class="fa fa-circle-o"></i>@Resources.Resource.UserGraph</a></li>
                </ul>
            </li>
            <li id="liMaster" class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span>@Resources.Resource.MasterScreen</span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul id="ulMaster" class="treeview-menu">
                    <li><a href="~/Users"><i class="fa fa-circle-o"></i>@Resources.Resource.Users</a></li>
                    <li><a href="~/Roles"><i class="fa fa-circle-o"></i>@Resources.Resource.Roles</a></li>
                    <li><a href="~/Screens"><i class="fa fa-circle-o"></i>@Resources.Resource.Screens</a></li>
                    <li><a href="~/Modules"><i class="fa fa-circle-o"></i>@Resources.Resource.Module</a></li>
                </ul>
            </li>
            <li id="liPermission" class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>@Resources.Resource.Permission</span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/ScreenPermissions"><i class="fa fa-circle-o"></i>@Resources.Resource.ScreenPermissions</a></li>
                    <li><a href="~/ModulePermissions/ModulePermission/AddModulePermission"><i class="fa fa-circle-o"></i>@Resources.Resource.Module</a></li>
                </ul>
            </li>
            <li>
                <a href="~/LogInfo">
                    <i class="fa fa-files-o"></i>
                    <span>@Resources.Resource.AuditLog</span>
                </a>
            </li>
            <li>
                <a href="~/Account/ForgotPassword">
                    <i class="fa fa-files-o"></i>
                    <span>@Resources.Resource.ChangePassword</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
